@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.svg#RobotoRegular") format("svg");
}

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.svg#RobotoMedium") format("svg");
}
