extends ../layout/layout

block title
	| Main page

block content
	.home
		.auth
			a(href="#").auth__btn Авторизоваться

		.login-wrap
			.login__pic
				img(src="img/user.jpg" alt="Горковець Василь").login__img
			h1.login__author Горковець Василь
			h3.login__work Личный сайт веб разработчика

			ul.socials
				li.socials__item
					a(href="#").socials__link
						i(aria-hidden="true").fa.fa-vk
				li.socials__item
					a(href="#").socials__link
						i(aria-hidden="true").fa.fa-github-alt
				li.socials__item
					a(href="#").socials__link
						i(aria-hidden="true").fa.fa-linkedin

			nav.nav
				ul.nav__list.clearfix
					li.nav__item
						a(href="mywork.html").nav__link Мои работы
					li.nav__item
						a(href="about.html").nav__link Обо мне
					li.nav__item
						a(href="blog.html").nav__link Блог

		.author-wrap
			p.author © Владимир Астахов | создано с любовью в LoftSchool | 2016
