extends ../layout/layout

block title
	| Main page

block content
	.auth
		a(href="#").auth__btn Авторизоваться

	.login-wrap
		.login__pic
			img(src="img/user.jpg" alt="Горковець Василь").login__img
		h1.login__author Горковець Василь
		p.login__work Личный сайт веб разработчика

		ul.socials
			li.socials__item
				a.socials__item-vk
			li.socials__item
				a.socials__item-github
			li.socials__item
				a.socials__item-inst
