extends ../layout/layout

block title
	| Main page

block content
	.auth
		a(href="#").auth__btn Авторизоваться

	.login-wrap
		.login__pic
			img(src="img/user.jpg" alt="Горковець Василь").login__img